@{
    ViewData["Title"] = "Humanizer Demo";
}

<h2>Humanizer Demo</h2>

<div>
    <h3>Number Humanized: @ViewBag.NumberHumanized</h3>
    <h3>Date Humanized: @ViewBag.DateHumanized</h3>
    <h3>Timespan Humanized: @ViewBag.TimespanHumanized</h3>
    <h3>Bytes Humanized: @ViewBag.BytesHumanized</h3>
    <h3>Collection Humanized: @ViewBag.CollectionHumanized</h3>
</div>
